# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

.idea
.vscode
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
app/.settings/org.eclipse.buildship.core.prefs
